Repository GeoCat/bridge-style, pull requests merged in 2024-03, with the labels that each got.

#80 Dash line for QGIS Fill symbolizer and Maplibre line-cap' and line-join
  bridgestyle/mapboxgl/fromgeostyler.py
  bridgestyle/qgis/togeostyler.py
Labels: enhancement, MapBox/MapLibre

#86 Scale Dependent Visibility of labels, fix #82
  bridgestyle/qgis/togeostyler.py
Labels: enhancement, GeoStyler

#89 to_float should be to_real
  bridgestyle/qgis/expressions.py
Labels: bug
